/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
/* GOOGLE FONTS ENDS */

/* COLORS */
:root{
  --white: #fff;
  --blue: #232F3E;
  --orange: #FF9900;
  --dark-orange: #e08600;
}
/* COLORS ENDS */

/* RESET */

*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* RESET ENDS */

/* DEFAULT */

a{
  text-decoration: none;
  color: var(--white);
  transition: 0.2s ease-in-out;
}

a:hover{
  color: var(--orange);
}

button{
  padding: 0.5rem 1rem;
  
  font-family: inherit;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  
  background-color: inherit;
  border: 1px hidden;
  
  cursor: pointer;
  
  transition: 0.1s ease-in-out;
}

.primary-button{
  border: 2px solid var(--orange);
  background-color: var(--orange);
  border-radius: 10px;
  color: var(--blue);
}

.primary-button:hover{
  background-color: var(--orange);
  border-radius: 10px;
  color: var(--white);
}

.secondary-button{
  border: 2px solid var(--orange);
  border-radius: 10px;
}

.secondary-button:hover{
  border: 2px solid var(--orange);
  background-color: var(--orange);
}

section{
  padding: 1rem 5vw;
}

.label h1{
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}

/* DEFAULT ENDS */

/* BODY */

body{
  font-family: 'Montserrat', serif;
}

/* BODY ENDS */

/* NAVIGATION BAR */

navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  width: 100%;
  padding: 1rem 5vw;
}

navbar .text-logo{
  font-size: 28px;
  color: var(--white);
  font-weight: 600;
  cursor: default;
}

navbar .big-screen-nav{
  cursor: defalut;
}

navbar li{
  display: flex;
  align-items: center;
}
.search-bar{
    display: flex;
    text-align: center;
    font-family: 'Montserrat', serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin:0px;
}
.search-bar img{
    align-items:
}

navbar img{
    width: 20%;
    height:auto;
}
navbar a{
  padding: 0.75rem;
  font-size: 18px;
}

navbar button{
  margin: 0 0.5rem;
}

navbar .small-screen-nav i{
  font-size: 28px;
  color: white;
}

/* MEDIA QUERY */
@media screen and (min-width: 850px){
  navbar .small-screen-nav{
    display: none;
  }
}

@media screen and (max-width: 850px){
  navbar .big-screen-nav{
    display: none;
  }
}

/* NAVIGATION BAR ENDS */


/* FOOTER */

.footer{
    background-color: var(--blue);
  }
  
  .footer .footer-text{
    color: var(--white);
    text-align: center;
    padding: 2rem;
  }
  
  .links{
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  
  .links ul{
    margin: 0.5rem;
  }
  
  .links li{
    list-style: none;
  }
  
  .links li h1{
    cursor: default;
    font-size: 16px;
  }
  
  .links li a{
    font-size: 12px;
    cursor: pointer;
  }
  
  /* FOOTER ENDS */